<div id="event-<%= event.id %>" class="event">
  <div class="header">
    <p class="tags"><span class="label category<%= event.category %>">Zľavy</span></p>
    <h2><a href="#"><%= event.title %></a></h2>
    <p class="info"><%= l event.published_at, :format => :short %></p>
  </div>

  <div class="content">
    <%= image_tag "/images/#{event.image_path}", :size => "174x116"%>
    <%= simple_format(truncate(event.message, :length => 500)) %>
  </div>
  <%= render 'events/interactions', :event => event %>
</div>
