<div id="event-<%= event.id %>" class="event">
  <div class="header">
    <p class="tags"><span class="label category<%= event.category %>">Recenzie</span></p>
    <h2><a href="#"><%= event.title %></a></h2>
    <p class="info"><%= event.published_at %></p>
  </div>

  <div class="content">
    <%= image_tag "/images/reviews/#{event.detailed.slug}.jpeg", :size => "174x116"%>
    <%= simple_format(truncate(event.message, :length => 500)) %>
  </div>
  <%= render 'events/interactions', :event => event %>
</div>
