<div class="container">

  <div id="timeline">
    <%
      lines, points, anchors = timelineize(@events)
    %>
    <div class="line main" style="height: 8000px; left: 0;">
      <% points.each do |point| %>
          <%
             events, start, cardinality = point
             klass = cardinality > 1 ? :more : "category#{events.first.category}"
             content = events.collect { |e| "<li>#{e.title}</li>" }.join
             if events.size > 1
               in_period = "v období #{l events.first.published_at, :format => :short} &mdash; #{l events.last.published_at, :format => :short}"
             else
               in_period = "dňa #{l events.first.published_at}"
             end
             title = "#{slovak_pluralize(cardinality, 'udalosť', "udalosti", "udalostí")} #{in_period}"
          %>
          <div class="point <%= klass %>" style="top: <%= start %>px;" data-event="<%= events.collect(&:id).join(',') %>" title="<%= title %>" rel="popover" data-content="<ul><%= content %></ul>">
            <div><% if cardinality > 1 %><%= cardinality %><% else %>&nbsp;<% end %></div>
          </div>
      <% end %>
    </div>
    <% lines.each do |line| %>
        <%
           event, depth, start, length = line
        %>
        <div class="line category<%= event.category %>" style="height: <%= length %>px; top: <%= start %>px; left: -<%= depth*18+7 %>px;" data-event="<%= event.id %>" rel="popover" data-content="<%= event.title %>" title="<%= l event.valid_from, :format => :short %> &mdash; <%= l event.valid_to, :format => :short %>">
          <div></div>
        </div>
    <% end %>
    <% anchors.each do |anchor| %>
        <%
           event, start = anchor
        %>
        <div class="anchor" style="top: <%= start %>px"><%= event.strftime("%b'%y") %></div>
    <% end %>
  </div>

  <div class="row">
    <div class="span5">&nbsp;</div>
    <div id="events" class="span11">
      <div class="event new">
        <h2><a href="javascript:void(0)" data-toggle-id="new_message">Napísať novú správu</a></h2>

        <div class="content" id="new_message" style="display: none;">
          <div class="comments">
            <div class="comment">
              <div class="user"><%= gravatar_for('johno@jsmf.net', 40) %></div>
              <div class="content">
                    <div class="input"><%= text_field_tag :title, nil, class: :xlarge %></div>
                <%= text_area_tag :comment %>
                <br>

                <div class="input"><%= submit_tag 'Odoslať', class: 'btn primary' %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% @events.each do |event| %>
        <%= render "events/#{event.category.downcase}", :event => event %>
      <% end %>
      <div id="event-3" class="event">
        <div class="header">
          <p class="tags"><span class="label notice">Doprava</span></p>
          <h2><a href="#">Parkovanie pri Terne</a></h2>
          <p class="info">13. decembra 2011</p>
        </div>

        <div class="content">
          <div class="image">
            <img src="images/debil.jpg" alt="">
          </div>
          <dl>
            <dt>Miesto činu:</dt>
            <dd>Bratislava, Karlova Ves, Terno</dd>
            <dt>ŠPZ:</dt>
            <dd>BA956TT</dd>
            <dt>Diagnóza:</dt>
            <dd>Aktuálny obrázok pekne zobrazuje logický kvocient osoby, ktorá takto dokázala odparkovať svoje vozidlo.</dd>
          </dl>
        </div>
        <div class="interactions">
          <p><a class="like" href="">10</a> <a class="dislike" href="">1</a> <a href="#" class="comments many">2 komentáre</a>
            <a class="watch" href="#">sledovať</a></p>

          <div class="comments">
            <div class="comment">
              <div class="user"><%= gravatar_for('johno@jsmf.net', 40) %></div>
              <div class="content"><p>Toto fakt nie!</p><span class="author"><a href="#"><a href="#">Ján Suchal</a></span></div>
            </div>
            <div class="comment">
              <div class="user"><%= gravatar_for('kramar.tomas@gmail.com', 40) %></div>
              <div class="content"><p>Tak som sa ponahlal ne?</p><span class="author"><a href="#">Tomáš Kramár</a></span></div>
            </div>
            <div class="comment">
              <div class="user"><%= gravatar_for('johno@jsmf.net', 40) %></div>
              <div class="content">
                <%= text_area_tag :comment %>
                <br>
                <%= submit_tag 'Odoslať', class: 'btn primary' %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
