<!DOCTYPE html>
<html>
<head>
  <title>Everyblock</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topbar" data-scrollspy="scrollspy">
  <div class="topbar-inner">
    <div class="container">
      <%= link_to 'Karlova Ves', timeline_index_path, :class => 'brand' %>
      <ul class="nav">
        <li><%= link_to 'Médiá', timeline_index_path(:category => 'Media') %></li>
        <li><%= link_to 'Recenzie', timeline_index_path(:category => 'Review') %></li>
        <li><%= link_to 'Granty', timeline_index_path(:category => 'Grant') %></li>
        <li><%= link_to 'Zľavy', timeline_index_path(:category => 'Discount') %></li>
        <li><%= link_to 'Straty & Nálezy', timeline_index_path(:category => 'Lost_and_Found') %></li>
        <li><%= link_to 'Miestni poslanci', timeline_index_path(:category => 'Deputies') %></li>
        <li><%= link_to 'Sťažnosti', timeline_index_path(:category => 'Complaints') %></li>
        <li><%= link_to 'Oznamy', timeline_index_path(:category => 'Info') %></li>
        <li><%= link_to 'Kriminalita', timeline_index_path(:category => 'Crime') %></li>
        <li><%= link_to 'Dražby', timeline_index_path(:category => 'Auctions') %></li>
      </ul>
    </div>
  </div>
</div>

<div class="top-main">
  <%= yield %>
</div>

</body>
</html>
