<!DOCTYPE html>
<html>
<head>
  <title>Everyblock</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topbar" data-scrollspy="scrollspy">
  <div class="topbar-inner">
    <div class="container">
      <a class="brand" href="#">... &gt; <strong>Karlova ves</strong></a>
      <ul class="nav">
        <li><%= link_to 'Médiá', timeline_index_path(:category => 'Media') %></li>
        <li><%= link_to 'Recenzie', timeline_index_path(:category => 'Review') %></li>
      </ul>
    </div>
  </div>
</div>

<div class="top-main">
  <%= yield %>
</div>

</body>
</html>
